.header {
  display: flex;
  background-color: black;
  align-items: center;
}
.logo {
  flex: 1 1 30%;
  display: flex;

  align-items: center;
  color: white;
  margin-left: 2em;
}
.image {
  background: transparent;
  width: 40px;
  height: 30px;
}
.search {
  flex: 1 1 70%;
}
.input {
  width: 80%;
}
